body {
	font-family: arial,sans-serif;
	padding: 4pt 2pt;
}

a {
	font-size: 8pt;
}

hr {
	margin-bottom: 12pt;
	margin-top: 12pt;
	width: 80%;
}

img {
	display: block;
	margin: 0 auto;
}

#app-name {
	font-size: 17pt;
	text-align: center;
}

#version-div {
	font-size: 11pt;
	text-align: center;
}

.main-line {
	font-size: 11pt;
}

#button-container {
	text-align: center;
	width: 100%;
}
